{
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "etcd",
      "OU": "etcd Security",
      "L": "Philadelphia",
      "ST": "Pennsylvania",
      "C": "USA"
    }
  ],
  "CN": "etcd-root-ca"
}
